<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="3da45a2f-7793-4e02-bb0b-ea8e5a105ff6" Name="Energy3D" 
             Language="1033" Version="1.0"
             Manufacturer="Concord Consortium Inc." 
             UpgradeCode="150c6b76-58ca-4d97-b660-42378c20b99f">
        <Package Description="Energy3D" Comments="None"
                 InstallerVersion="200" Compressed="yes"
                 InstallScope="perUser" Platform="x64"/>
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />

        <!-- We use RemoveFolderEx to ensure application folder is fully 
             removed on uninstall. Including files created outside of MSI
             after application had been installed (e.g. on AU or user state).
             
             Hovewer, RemoveFolderEx is only available in WiX 3.6, 
             we will comment it out if we running older WiX.

             RemoveFolderEx requires that we "remember" the path for uninstall.
             Read the path value and set the APPLICATIONFOLDER property with the value.
        -->
        <Property Id="APPLICATIONFOLDER">
            <RegistrySearch Key="SOFTWARE\Concord Consortium Inc.\Energy3D" 
                            Root="HKCU" Type="raw" 
                            Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
        </Property>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="CleanupMainApplicationFolder" Guid="*" Win64="yes">
                <RegistryValue Root="HKCU"
                                   Key="SOFTWARE\Concord Consortium Inc.\Energy3D"
                                   Name="Path" Type="string" Value="[APPLICATIONFOLDER]"
                                   KeyPath="yes" />
                <!-- We need to use APPLICATIONFOLDER variable here or RemoveFolderEx
                     will not remove on "install". But only if WiX 3.6 is used. -->
                     
                  <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />
                
            </Component>
        </DirectoryRef>        
        <?include bundle.wxi ?>
        <UI/>
        <Icon Id="DesktopIcon.exe" SourceFile="Energy3D.ico" />
        <Icon Id="StartMenuIcon.exe" SourceFile="Energy3D.ico" />

		 <!--
		<Binary Id="app" SourceFile="energy3d.exe"/>
		<CustomAction Id="LaunchApplication" Impersonate="no" Execute="deferred" BinaryKey="app" ExeCommand="" Return="asyncWait" />
		-->


		<CustomAction Id="LaunchApplication"
		         FileKey="LauncherId"
		         ExeCommand="" 
		         Execute="immediate" 
		         Impersonate="yes" 
		         Return="asyncNoWait" />


		<InstallExecuteSequence> 
	      <Custom Action="LaunchApplication" After="InstallFinalize" />      
	    </InstallExecuteSequence>
    
    	<Property Id="ARPPRODUCTICON" Value="DesktopIcon.exe" />
    </Product>
</Wix>
